@charset "UTF-8";



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****overall*******/
body{
	font-family: 'Lato', sans-serif;;
	font-size: 100%;
	background-color:#42566C;
	color: #6E7B9B;
	font-weight:300;
}

/****box model*******/
header{
	padding-top:3em;
}
header, nav{
	text-align:center;
}
nav{
	padding-top:1.5em;
}
section{
	margin:5% 10%;
	line-height: 1.5em;
}
section h2{
	margin-bottom: 0.8em;
	margin-top:3em;
}
section p{
	letter-spacing:0.03em;
	//max-width:60em;
}
section h2{
	font-weight:400;
	letter-spacing:0.05em;
}
nav ul li {
	display: inline;
}
nav ul li a{
	text-decoration:none;
	font-weight:400;
	letter-spacing:0.05em;
	margin: 0 0.2em;
}
footer{
text-align:center;
margin-bottom:3em;
}



/****styles*******/

a, h2{
	color: #949CB2;
}
.onpage a{
	color:#BBC7C9;
}
h1, h2, nav{
	text-transform:uppercase;
}
header{
	font-weight:normal;
	color:#BBC7C9;
}
header h1{
	font-weight:400;
	font-size:1.5em;
	letter-spacing:0.05em;
	color:#BBC7C9;
}
footer p{
	font-size:0.5em;
}
nav ul li a:hover{
	color:#BBC7C9;
}
section #about-image {
	background-color:#42566C; width: 70%;  border: 1px solid #6E7B9B;
	margin: 3em auto;
}
section #about-image img{
	width:100%
}
section #artMembers, section #contact{
	margin-top:0.8em;
}
#summary { 
	margin-bottom:3em;
}
.box:last-child{
	margin-bottom:3em;
}

/*********************************/

.box{
	font-size:0.7em;
	text-transform:uppercase;	
	font-weight:400;
	margin-bottom:3em;
	height:18em;
	overflow:hidden;
	

}
.boxC{
	font-size:0.7em;
	text-transform:uppercase;	
	font-weight:400;
	margin-bottom:20em;
	height:20em;
	overflow:visible;
}

.imageBox{
	background-color:#42566C; 
	width: 49%;  
	margin: 0em 1em 3em 0;
	float:left;
}
.imageBox img {
	width:100%;
	border: 1px solid #6E7B9B;
}

/***********if align-right ******************/
/*
.imageBoxR{
	background-color:#42566C; width: 49%;  
	margin: 0em 0 3em 1em;
	float:right;
}
.imageBoxR img {
	width:100%;
	border: 1px solid #6E7B9B;
}
*/

/******************************/

p.textR {
//	text-align:right;
//	border: 1px solid #6E7B9B;
}

.imageBoxC img {
	width:100%;
	border: 1px solid #6E7B9B;
	margin-bottom:3em;
}


span.hilink a{
	color:#949CB2;
	text-transform:uppercase;
}
span.hilink a{
	text-decoration:none;
}
span.hilinkEdi a{
	text-decoration:none;
}
#contact a{
	text-decoration:none;
}
span.hilinkCopy a{
	text-decoration:none;
}

footer {
	clear:both;
}

